<{include file='db:freesection_header.html'}>

<!--<{if $collapsable_heading == 1}>
	<div class="freesection_collaps_title"><a href='javascript:;' onclick="toggle('toptable'); toggleIcon('toptableicon')"><img id='toptableicon' src='<{$freesection_url}>images/icon/close12.gif' alt='' /></a>&nbsp;<{$lang_category_summary}></div>
	<div id='toptable'>
	<span class="freesection_collaps_info""><{$lang_category_summary_info}></span>
<{/if}> -->

<{if $index_page}>
	<div class="item">
		<!-- Start categories loop -->
		<{foreach item=category from=$categories}>
			<div class="freesection_category_index_list"
				 style="clear: both;">
				<div class="freesection_categoryname"><{$category.categorylink}></div>
				<div>
					<{if $category.image_path}>
						<img class="freesection_category_image" src="<{$category.image_path}>" alt="<{$category.name}>" width="<{$category_list_image_width}>"/>
					<{/if}>
					<{$category.description}>
				</div>
				<{if $category.subcats}>
					<div class="freesection_subcats">
						<div class="freesection_subcats_info"><{$category.lang_subcategories}></div>
				  		<{foreach name=loop item=subcat from=$category.subcats}>
				  			<{$subcat.categorylink}><{if $smarty.foreach.loop.iteration < $category.subcatscount}> -<{/if}>
				  		<{/foreach}>
				  	</div>
			  	<{/if}>
			  	<div style="clear: both"></div>
			</div>
			
		<{/foreach}>
		<!-- End categories loop -->
	</div>
<{else}>
	<div>
		<!-- Start categories loop -->
		<{foreach item=category from=$categories}>
			<div style="clear: both;">
				<div class="freesection_categoryname"><{$category.categorylink}></div>
				<div>
					<{if $category.image_path}>
						<img class="freesection_category_image" src="<{$category.image_path}>" alt="<{$category.name}>" width="<{$category_list_image_width}>"/>
					<{/if}>
					<{$category.description}>
				</div>
				<div class="freesection_category_header">
					<{$category.header}>
				</div>
				<div style="clear: both"></div>
				<{if $category.subcats}>
					<div class="freesection_subcats">
						<div class="freesection_subcats_info"><{$category.lang_subcategories}></div>
				  		<{foreach name=loop item=subcat from=$category.subcats}>
				  			<{$subcat.categorylink}><{if $smarty.foreach.loop.iteration < $category.subcatscount}> -<{/if}>
				  		<{/foreach}>
				  	</div>
			  	<{/if}>
			</div>
		<{/foreach}>
		<!-- End categories loop -->
	</div>
<{/if}>

<!--<{if $collapsable_heading == 1}>
	</div>
<{/if}>-->
<div class="freesection_items_list">
	<{if $items}>
		<{if $collapsable_heading == 1}>
			<div class="freesection_collaps_title"><a href='javascript:;' onclick="toggle('bottomtable'); toggleIcon('bottomtableicon')";><img id='bottomtableicon' src='<{$freesection_url}>images/icon/close12.gif' alt='' /></a>&nbsp;<{$lang_items_title}></div>
			<div id='bottomtable'>
			<span class="freesection_collaps_info"><{$lang_items_info}></span>
		<{/if}>
		<div align="right"><{$category.navbar}></div>
		
		<div class="item">
			<{foreach item=item from=$items}> 
				<div class="freesection_items_list_item"><{$item.titlelink}> (<{$item.datesub}>)</div>
			<{/foreach}>
		</div>

		<div align="right"><{$category.navbar}></div>		
		<{if $collapsable_heading == 1}>
			</div>
		<{/if}>
	<!-- end of if $items --> <{/if}>
</div>
	
<{include file='db:freesection_footer.html'}>